body {
  background-color: dodgerblue;
  color: beige;
  font-family: monospace;
}

h1 {
  text-align: center;
  font-size: 60px;
}

#main-container {
  justify-content: center;
}

#set-select-container, #set-container, #ui-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin-top: 20px;
}

#set-select {
  align-self: center;
}

#info-text {
  text-align: center;
  font-size: 38px;
}

#set-image-canvas {
  padding-right: 20px;
  display: none;
}

#parts-chart-container, #map-container {
  width: 600px;
  height: 600px;
  background-color: white;
  display: none;
}

#map-container {
  margin-left: 20px;
}
